<div class="jumbotron" id="jumbo3">
  <br/>
  <h1>Listings</h1>
  <p>Love at first sight.</p>
  <br/>
  <br/>
</div>

<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Place type</th>
      <th>Property type</th>
      <th>Room number</th>
      <th>Bed number</th>
      <th>Guest number</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Address</th>
      <th>Price per night</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @listing.each do |listing| %>
      <tr>
        <td><%= listing.user.first_name %></td>
        <td><%= listing.place_type %></td>
        <td><%= listing.property_type %></td>
        <td><%= listing.room_number %></td>
        <td><%= listing.bed_number %></td>
        <td><%= listing.guest_number %></td>
        <td><%= listing.country %></td>
        <td><%= listing.state %></td>
        <td><%= listing.city %></td>
        <td><%= listing.zipcode %></td>
        <td><%= listing.address %></td>
        <td><%= listing.price_per_night %></td>
        <td><%= listing.description %></td>
        <% if signed_in? %>
        <% case current_user.role %>
        <% when 'user' %>
          <td><%= link_to 'Show', listing, class: "btn btn-primary" %></td>
        <% when 'vip' %>
          <td><%= link_to 'Show', listing, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-primary" %></td>
        <% when 'admin' %>
          <td><%= link_to 'Show', listing, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', listing, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% when listing.user == current_user %>
          <td><%= link_to 'Show', listing, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', listing, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
    <% end %>
      </tr>
  </tbody>
</table>

<br>

<% if signed_in? -%>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% else %>
<% end %>
