<div class="jumbotron" id="jumbo4">
  <br/>
  <br />
  <br />
  <div class="header_effect">
  <% case current_user.role %>
  <% when 'user' %>
    <h1>Welcome, <%= current_user.first_name%>!</h1>
    <p>You're just a normal peasant.</p>
  <% when 'vip' %>
    <h1>Welcome, <%= current_user.first_name%>!</h1>
    <p>VIP represent!</p>
  <% when 'admin' %>
    <h1>Welcome, <%= current_user.first_name%>!</h1>
    <p>What's up, Admin!</p>
  <% else %>
  <h1>Welcome</h1>
  <% end %>
</div>
</div>
<br />
<br />

<div class="header_effect">

<% if current_user.avatar.square.url != nil -%>
<%= image_tag (current_user.avatar.square.url), class: "img-circle"%>
<% end %>


<br />
<br />

<%= form_for @user, :html => {:multipart => true} do |f| %>

    <%= f.file_field :avatar %>

  <p><%= f.submit %></p>

  <label>
   <%= f.check_box :remove_avatar %>
   Remove avatar
 </label>
</p>
<% end %>


<p><%= @users.count %> users registered.</p>

<tbody>



  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <br />
      <% case current_user.role %>
      <% when 'user' %>
        <td><%= link_to 'Show', user %></td>
        <br />
      <% when 'vip' %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <br />
      <% when 'admin' %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br />
      <% end %>
      <br />
    </tr>
  <% end %>


    <br />
</tbody>
</table>
</div>
