<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhRtvWyfO98YDseK-1xDl6mJmo4vrMOzM&libraries=places"
      type="text/javascript"></script>



    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>

  </head>

  <body>

    <nav class="navbar navbar-findcond navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home "></span> Y D</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
            <li class="active">
              <a href="/bookings">Bookings</a>
            </li>
            <% end %>
            <li class="active">
              <a href="/listings">Listings</a>
            </li>
            <li class="active">
              <% if signed_in? %>
              <% case current_user.role %>
              <% when 'user' %>
                <a href="/users" >User Tools</a>
              <% when 'vip' %>
                <a href="/users" >User Tools</a>
              <% when 'admin' %>
              <a href="/users" >Admin Tools</a>
              <% end %>
            <% else %>

            <% end %>
            </li>
            <li class="active">
              <% if signed_in? -%>
              <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
            <% else -%>
              <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

              <% end -%>
            </li>
            <% unless signed_in? -%>
            <li class="active">
              <a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a>
            </li>
            <% end -%>
          </ul>
          <form class="navbar-form navbar-right search-form" role="search">
            <input type="text" class="form-control" placeholder="Search"/>
          </form>
        </div>
      </div>
    </nav>
    <div id="padding-top">
      <div id="flash">
        <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <%= simple_form_for :session, url: session_path do |f| %>
          <%= f.input :email, placeholder: 'Email address' %>
          <%= f.input :password, hint: 'No special characters.' %>
          <%= f.button :submit, "Login" %>
          <% end %>

          <div class="login-help">
            <a href="#">Register</a>
            -
            <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Sign Up Your Account</h1><br>
          <%= simple_form_for User.new do |f| %>
          <%= f.input :email, placeholder: 'Email address' %>
          <%= f.input :first_name, placeholder: 'First name' %>
          <%= f.input :last_name, placeholder: 'Last name' %>
          <%= f.input :password, hint: 'No special characters.' %>
          <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:day, :month, :year] %>
          <%= f.button :submit %>
          <% end %>

          <div class="login-help">
            <a href="#">Login</a>
            -
            <a href="#">Forgot Password</a>
            <%= link_to "Sign in with Facebook", "/auth/facebook" %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
